<div class="container-fluid">
    <div class="row">
        <app-home-page></app-home-page>
    </div>
    <div class="row" id="Volunteers">
        <div class="container-fluid  py-5" id="subbox">
  
                <div class="row" id="title">
                  <h2 class="fw-bolder text-center">Volunteers Request</h2>
                </div>
              
                
               
                
                <div class="row mb-4 table-responsive-sm ">
                  <table class="table " ng-controller="userCtrl">
                    <thead >
                      <tr>
                        <th scope="col">SI.no</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone No</th>
                        <th scope="col">Address</th>
                        <th scope="col">Request Accept</th>
                        <th scope="col">Request Reject</th>

                        
              
                      </tr>
                    </thead>
                    <tbody *ngFor="let info of sample | paginate:{itemsPerPage:pagepersheetno,currentPage:pageno,totalItems:totallength};let i =  index;">
                      
                      
                      
                      <tr>
                        <th scope="row">{{i}}</th>
                        <td>{{info.Name}}</td>
                        <td>{{info.Email}}</td>
                        <td>{{info.Phoneno}}</td>
                        <td>{{info.Address}}</td>
                        <!-- <td><input type="checkbox" id="appointmentstatus"></td> -->
                        <td><button class="btn btn-success" id="appointing">Accept</button></td>
                        <td><button class="btn btn-danger" id="cancel">Reject</button></td>
                        
                        <!-- <td><span class="btn btn-danger" id="Active">Not this week</span></td> -->
                        <!-- <td><label>Expired</label></td> -->
                      </tr>
              
                    
                    </tbody>
                   
                  </table> 
                
                  
                </div>
                <div class="row mb-5">
                 
                  <div class="col-1 d-flex flex-row">
                    <div class="input-group mb-3 border ">
                      <span class="input-group-text btn-secondary" id="basic-addon1"><span class="material-icons">auto_awesome_motion</span></span>
                      <input type="number"  min="0" class="form-control" placeholder="3" aria-label="Username" aria-describedby="basic-addon1" (input)="onPagepersheet($event)">
                    </div>
                  </div>
                  <div class="col-1 m-4"></div>
                  <div class="col-7 d-flex justify-content-center">
                  <pagination-controls class="pagination fw-bolder"  (pageChange)="pageno=$event"></pagination-controls>
                  <!-- <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
              </mat-paginator> -->
                  
              
                  </div>
              
                </div>
              </div>
              
    </div>
</div>