<div class="container-fluid h-100">
    <br>
      <div class="container" id="innerrow">
          <section class="vh-90" >
              
              <div class="container py-5 h-60"  >
                  
                  <div class="row m-5 d-flex align-items-center justify-content-center h-30">
                      
                      <label class="d-flex align-items-center justify-content-center fs-1 fw-bolder">Volunteer Registration</label>
                  </div>
                  <!-- <hr><hr> -->
                  
                <div class="row m-5 d-flex align-items-center justify-content-center h-50" >
                  <div class="col-md-6 col-lg-5 col-xl-4">
                    <img src="https://static.vecteezy.com/system/resources/previews/005/005/787/original/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
                      class="img-thumbnail" alt="Phone image">
                  </div>
                  <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form>
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="email" id="form1Example13" class="form-control form-control-lg"   />
                        <label class="form-label " for="form1Example13">Email Address</label>
                      </div>
                      <div class="form-outline mb-4">
                          <input type="Text" id="form1Example23" class="form-control form-control-lg" />
                          <label class="form-label " for="form1Example23">Volunteer Name</label>
                        </div>
            
                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <input type="password" id="form1Example23" class="form-control form-control-lg"  />
                        <label class="form-label " for="form1Example23">Password</label>
                      </div>
            
                    
                      <button type="submit" class="btn btn-primary m-3" >Register</button>
                      <button type="submit" class="btn btn-primary " role="presentation" [routerLink]="['']" routerLinkActive="active">Cancel</button>
            
                   
                    </form>
                  </div>
                </div>
                
              </div>
              
              
            </section>
      </div>
      
    
  </div>