<div class="container-fluid h-150">
    <br>
      <div class="container" id="innerrow">
          <section  >
              
              <div class="container py-5 "  >
                  
                  <div class="row m-5 d-flex align-items-center justify-content-center ">
                      
                      <label class="d-flex align-items-center justify-content-center  fw-bolder" id="title">Volunteer Registration</label>
                  </div>
                  <!-- <hr><hr> -->
                  
                <div class="row m-5 d-flex align-items-center justify-content-center " >
                  <div class="col-md-6 col-lg-5 col-xl-4">
                    <img src="https://static.vecteezy.com/system/resources/previews/005/005/787/original/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
                      class="img-thumbnail" alt="Phone image">
                  </div>
                  <div class="col-md-4 col-lg-4 col-xl-5 offset-xl-1">
                    <form [formGroup]="Register_loginform">
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <label class="form-label " for="form1Example13">Email Address</label>
                        <input type="email" id="form1Example13" class="form-control form-control-lg" formControlName="EmailId"  />
                        <br>
                        <span id="error">{{emailerror}}</span>
                        <br>
                      </div>
                      <div class="form-outline mb-4">
                        <label class="form-label " for="form1Example23">Volunteer Name</label>
                        <input type="Text" id="form1Example23" class="form-control form-control-lg" formControlName="Name"/>
                        <br>
                        <span id="error">{{nameerror}}</span>
                        <br>
                        </div>
            
                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <label class="form-label " for="form1Example23">PhoneNumber</label>
                        <input type="number" id="form1Example23" class="form-control form-control-lg" formControlName="PhoneNumber" />
                        <br>
                        <span id="error">{{phoneerror}}</span>
                        <br>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label " for="form1Example23">Address</label>
                        <input type="textarear" id="form1Example23" class="form-control form-control-lg" formControlName="Address" />
                        <br>
                        <span id="error">{{Addresserror}}</span>
                        <br>
                      </div>
            
                    
                     <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button type="submit" class="btn btn-primary me-md-2 " (click)="onSubmit()">Register</button>
                      <button type="submit" class="btn btn-primary " role="presentation" [routerLink]="['']" routerLinkActive="active">Cancel</button>
            
                     </div>
                     <br>
                     <span id="error">{{successmsg}}</span>
                     <br>
                     
                   
                    </form>
                  </div>
                </div>
                
              </div>
              
              
            </section>
      </div>
      
    
  </div>