<div class="container-fluid h-100">
    <br>
      <div class="container" id="innerrow">
          <section  >
              
              <div class="container py-5 "  >
                  
                  <div class="row m-5 d-flex align-items-center justify-content-center ">
                      
                      <label class="d-flex align-items-center justify-content-center  fw-bolder" id="title">Admin Login</label>
                  </div>
                  <!-- <hr><hr> -->
                  
                <div class="row m-5 d-flex align-items-center justify-content-center " >
                  <div class="col-4">
                    <img src="https://marketplace.magento.com/media/catalog/product/4/a/4acb_rsz_admin-logo_1.png"
                      class="img-thumbnail" alt="Phone image">
                  </div>
                  <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form [formGroup]="Admin_loginform" >
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <label class="form-label " for="form1Example13">Email address</label>
                        <input type="email" id="form1Example13" class="form-control form-control-lg"  formControlName="EmailId" />
                        <br>
                        <span id="error">{{emailerror}}</span>
                        <br>
                      </div>
            
                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <label class="form-label " for="form1Example23">Password</label>
                        <input type="password" id="form1Example23" class="form-control form-control-lg" formControlName='Password'/>
                        <br>
                        <span id="error">{{passworderror}}</span>
                        <br>
                      </div>
                     
                     
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      
                      <!-- Submit button -->
                      <button type="button" class="btn btn-primary me-3"  (click)="onSubmit()">Login</button>
                      <!-- role="presentation" routerLinkActive="active" [routerLink]="['/Home_Page']" -->
                      
                      <button type="button" class="btn btn-primary " role="presentation" [routerLink]="['']" routerLinkActive="active">Cancel</button>
                </div>
                    </form>
                  </div>
                </div>
                
              </div>
              
              
            </section>
      </div>
  </div>