#subbox{
    /* background-color: rgb(122, 207, 207); */
    background-color: white;
    /* background-color:  rgb(28, 39, 133); */

    }
    /* #AppointmentPage{
        background-color:  rgb(28, 39, 133);
    } */
    thead{
        background-color: black;
        color: azure;
        word-wrap: break-word;
        flex-wrap: wrap;
    }
    tbody{
        background-color: white;
        word-wrap: break-word;
        flex-wrap: wrap;
      
    }
    form{
        padding-top: 2vh;
    /* background-color: rgb(122, 207, 207); */
    background-color:  white;
    /* color: white; */
    
    }
    input{
        border-style: solid;
        border-width: .2vw;
        border-color: black;
    }
    /* .pagination{
        
    
    } */
    #Active{
        border-radius: 5vw;
        font-size: .8vw;
        /* cursor: pointer; */
    }
    #appointing{
        border-radius: 5vw;
        font-size: .8vw;
        
    }
    button{cursor: pointer;}
   
    span{
        cursor:unset;
    }
    #subbox{
        background-color:  rgb(28, 39, 133);
    
        }
        h2{
            color: white;
           }