<div class="container-fluid h-100" >
    <br>
    <div class="row d-flex align-items-center justify-content-center m-5">
                    
        <label class="d-flex align-items-center justify-content-center fs-1 fw-bolder" id="topic">WELCOME TO IRR_PORTAL</label>
    </div>
    <div class="container" id="innerbox">
        
            
            <div class="container py-5 "  >
                
              
               
                
              <div class="row d-flex align-items-center justify-content-center " >
                <div class="col-md-4 col-lg-4 col-xl-4 m-2">
                  <img src="https://www.nordantech.com/media/pages/blog/community/8-tipps-fuer-ein-erfolgreiches-meeting/00022d9063-1643812301/meeting-tipps-erfolgreich-1200x630.jpg"
                    class="img-thumbnail" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                  <form class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <!-- Email input -->
                    <div class="form-outline mb-4 ">
                        <button type="submit" class="btn btn-primary btn-lg " role="presentation"  [routerLink]="['Admin_Login']" routerLinkActive="active" >Admin Login</button>
                    </div>
                    <div class="form-outline mb-4">
                        <button type="submit" class="btn btn-primary btn-lg" role="presentation" [routerLink]="['Volunteer_Signup']" routerLinkActive="active">Volunteer Signup</button>
                      </div>
          
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <button type="submit" class="btn btn-primary btn-lg" role="presentation" [routerLink]="['Volunteer_Login']" routerLinkActive="active">Volunteer Login</button>

                    </div>
          
                 
                  </form>
                </div>
              </div>
              
            </div>
            
            
        
    </div>
</div>