.container-fluid{
    background-color:  rgb(28, 39, 133);
    /* background-image: url(''); */
}
.vh-100{
    background-color: white;
}
#topic{
    font-size: 2.5vw;
}
#innerrow{
    border-style: solid;
}
img{
    border-style: groove;
    border-color: aqua;
    border-radius: 5vw;
    border-width: .5vw;
    
}
#innerbox{
    background-color: white;
    border-style: solid;
    border-width: 1vw;
}
#topic{
    color: white;
}
button{
    width:25vw;
    cursor: pointer;
    
}
@media (max-width: 1000px){
    button{
        width:20vw;
        font-size: 2vw;
    }
    #topic{
        font-size: 5vw;
    }
    img{
        height: 25vh;
    }
  

}
